@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

.btn{
  padding: 0.25rem 0.45rem 0.35rem 0.45rem;
  border-radius: 5px;
  font: inherit;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0.3rem;
  cursor: pointer;

  color: $primary;
  background-color: $secondary-light;
  border-color: $primary;

  box-shadow: $secondary-light;

  transition: all 0.2s linear;
  &:hover{
    background-color: $primary;
    border-color: $accent-blue;
    color: $accent-blue;
  }

  &-reset-counter{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}