@use '../abstracts/colors' as *;

.notes-component__title{
  color: $red;
}

.note-form{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;

  &>input,& textarea{
    margin-top: 0.5rem;
    border-radius: 5px;
    padding: 0.15rem 0.5rem;
    font: inherit;
    font-size: 1rem;
    background-color: $secondary-light;
  }
  
  & label{
    margin-top: 1rem;
    font-weight: bold;
  }
  
  &>.priority-label{
    margin: 1rem 0;
    
  }
  
  
}
