@use '../abstracts/colors' as *;
@use '../abstracts/variables' as *;

.task{
  border: 2px solid $accent-blue;
  border-radius: 5px;
  width: 15rem;
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
  text-align: center;
  box-shadow: $shadow-dark;


  &:first-of-type{
    margin-top: 1.5rem;
  }

  &>p{
    padding: 0 1rem;
  }

  &>div{
    padding-bottom: 1rem;
  }

  &[data-priority='true']{
    border: 2px solid $red;
  }

  & .priority-task {
    font-weight: bold;
    color: $red;
  }
}