@use './scss/abstracts/forward';
@use './scss/abstracts/colors' as *;

h1{
  text-align: center;
  &:first-of-type{
    padding-top: 3rem;
  }

}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 5rem;
  font-size: 1.1rem;

  
  .Tasks, .Timer, .Notes{
    flex: 0 1 minmax(150px,30%);
  }

  @media (max-width: 977px){
    padding: 2rem;
  }

  @media (max-width: 779px){
    justify-content: space-evenly;
    gap: 3rem;

    #T2{
      order: -1;
    }
    .Tasks{
      order: 1;
    }
    .Notes{
      order: 3;
    }
  }
}
